* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    /* transition: 0.3s; */
}

:root {
    --black: #222;
}

body {
    min-height: 100vh;
}

section{
    padding: 0 10rem;
    font-size: 1.5rem;
}

.navBar{
    padding: 1.5rem 10rem;
    width: 100%;
    transform: translateY(-100%);
    position: fixed;
    right: 0;
    animation: fromTop 2s cubic-bezier(0.38, 0.31, 0.33, 0.98) forwards;
    animation-delay: 4s;
}

@keyframes fromTop {
    to{
        transform: translateY(0%);
    }
}

.navBar ul{
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 2rem;
}

.header {
    color: var(--black);
    padding: 10rem;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
}

.headerText {
    z-index: 1;
    /* text-align: center; */
    font-size: 10rem;
}

.headerWave {
    height: 10rem;
}

.headerBg {
    position: absolute;
    right: 13vw;
    top: -4%;
    height: 120vh;
    z-index: -1;
}

.path {
    stroke-dasharray: 583;
    stroke-dashoffset: 583;
    animation: dash 4s cubic-bezier(0.38, 0.31, 0.33, 0.98) forwards;
    animation-delay: 1s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}